 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Passionate Programmer and C++ Developer. </br> Wanna Be Pixel Artist.</p>
                </div>
                <div class="col-lg-4">
                    <p>TEST TEST </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.dropbox.com/sh/166f9p90dmsj4yj/AABJKPkM8yfNz7OLT7cDPtdda?dl=0" class="btn btn-lg btn-outline">
                        Classes
                    </a>
                    <a href="#" class="btn btn-lg btn-outline">
                        Influence Map
                    </a>
                </div>
            </div>
        </div>
    </section>