 <!-- About Section -->
    <section class="success" id="academia">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Academia</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.dropbox.com/sh/166f9p90dmsj4yj/AABJKPkM8yfNz7OLT7cDPtdda?dl=0" target="_blank" <img src="img/academia/house.png" class="img-responsive img-centered" alt="Classes"/>
                        Classes
                    </a>
                    <a href="https://marcelomesmo.github.io/img/influencemap/mapa-de-influencia-BIG.gif" <img src="img/academia/map.png" class="img-responsive img-centered" alt="Influence Map"/>
                        Influence Map
                    </a>
                    <a href="#" <img src="img/academia/anvil.png" class="img-responsive img-centered" alt="Game Dev Workshop"/>
                        Game Dev Workshop
                    </a>
                    <!--<a href="#" class="btn btn-lg btn-outline">
                        Influence Map
                    </a>-->
                </div>
            </div>
        </div>
    </section>