
    <!-- Portfolio -->
    <section id="portfolio">

        <div class="container">
            
            <!-- Header -->
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <h3>Marcelo de Barros</h3>
                </div>
            </div>


            <!-- Images -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row">

                <!-- Link for Games -->
                <h5>Games</h5>
                {% for post in site.categories.games %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption"><i class="portfolio-text">{{ post.alt }}</i></div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="row">

                <!-- Link for projects -->
                <h5>Projects</h5>
                {% for post in site.categories.projects %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption"><i class="portfolio-text">{{ post.alt }}</i></div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>


            <!-- IFRN -->
            <div class="row">
                <h5>Classroom</h5>
                <h6>Slides & Material [PT-BR]: </h6><a href="https://www.dropbox.com/sh/166f9p90dmsj4yj/AABJKPkM8yfNz7OLT7cDPtdda?dl=0" target="_blank">
                    Dropbox.
                </a>
                <h6>GameDev Workshop: </h6><a href="https://marcelomesmo.github.io/oficina" target="_blank">
                    All projects.
                </a>
                <h6>Influence Map: </h6><a href="https://marcelomesmo.github.io/img/influencemap/mapa-de-influencia-BIG.gif" target="_blank">
                    See here.
                </a>  
            </div>

        </div>
    </section>