<section>
  <div class="thumb-container">
      <!-- Header -->    
      <img class="img-responsive" src="img/profile.png" alt="">
  </div>

  <div class="thumb-container">
      <h4>Portfolio</h4>
      <h5>Games</h5>
      <!--{% for project in site.data.settings.projects %}
        <a href="{{ site.github.url }}/{{ project.file }}">
          <div class="thumb-unit" data-folder="{{ site.github.url }}/projects/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/projects/{{ project.folder }}/thumb.jpg)">
            <div class="thumb-overlay">
              <strong>{{ project.name }} <i class="fa fa-arrow-right" aria-hidden="true"></i></strong>
            </div>
          </div>
        </a>
      {% endfor %}-->
      {% for game in site.data.settings.games %}
        <a href="{{ site.github.url }}/{{ game.file }}">
          <div class="thumb-unit" data-folder="{{ site.github.url }}/games/{{ game.folder }}" style="background-image: url({{ site.github.url }}/assets/img/games/{{ game.folder }}/thumb.jpg)">
            <div class="thumb-overlay">
              <strong>{{ game.name }} </strong>
            </div>
          </div>
        </a>
      {% endfor %}
  </div>

  <div class="thumb-container">
      <!-- Link for projects -->
      <h5>Projects</h5>
      {% for project in site.data.settings.projects %}
        <a href="{{ site.github.url }}/{{ project.file }}">
          <div class="thumb-unit" data-folder="{{ site.github.url }}/games/{{ project.folder }}" style="background-image: url({{ site.github.url }}/assets/img/projects/{{ project.folder }}/thumb.jpg)">
            <div class="thumb-overlay">
              <strong>{{ project.name }} </strong>
            </div>
          </div>
        </a>
      {% endfor %}

  </div>

  <div class="thumb-container">    
       <!-- IFRN -->
      <h4>Classroom</h4>
      <h5>Slides & Material [PT-BR]: <a href="https://www.dropbox.com/sh/166f9p90dmsj4yj/AABJKPkM8yfNz7OLT7cDPtdda?dl=0" target="_blank"> Get it here. </a></h5>
      <h5>GameDev Workshop: <a href="https://marcelomesmo.github.io/oficina" target="_blank"> Find all projects.</a></h5>
      <h5>Influence Map: <a href="https://marcelomesmo.github.io/img/influencemap/mapa-de-influencia-BIG.gif" target="_blank"> Get it here. </a></h5>
  </div>
</section>